<style>
  md-input-container {
    margin: 8px 0;
  }
</style>
<md-dialog aria-label="Change Password"  ng-cloak style="width:800px;">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Change Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" style="padding:0">
        <form name="editForm" class="md-inline-form" novalidate>
          <div class="form-wrapper md-whiteframe-1dp">
            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <input type="password" name="password" ng-model="formData.password" placeholder="Password" required>
                <div ng-messages="editForm.password.$error" role="alert">
                  <div ng-message="required"><span>Password field is required.</span></div>
                </div>
              </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <input type="password" name="passwordConfirm" placeholder="Confirm Password" ng-model="formData.passwordConfirm" required compare-to="formData.password">
                <div ng-messages="editForm.passwordConfirm.$error" role="alert">
                  <div ng-message="required"><span>Password field is required.</span></div>
                  <div ng-message="compare-to"><span>Password doesn't match</span></div>
                </div>
              </md-input-container>
            </div>
          </div>
        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <div flex="50">
        <md-button class="md-warn" ng-click="delete($event)" ng-if="currentMode==2"> Delete </md-button>
      </div>
      <div flex="50">
        <div layout="row" layout-align="end center">
          <md-button ng-click="cancel()">Cancel</md-button>
          <md-button ng-disabled="editForm.$invalid || editForm.$pristine" ng-click="save()">
            Save
          </md-button>
        </div>
      </div>
    </md-dialog-actions>
</md-dialog>
