#broadcast-detail-page {
  .header {
    height: 100px;
    min-height: 100px;
    max-height: 200px;
    padding: 24px;
    background-image: url("/assets/images/backgrounds/header-bg.png");
    background-size: cover;
  }

  .upload-file-container {
    position:relative;margin:0;min-width:250px;max-width:320px;
  }

  md-autocomplete-wrap md-input-container{
    padding-bottom:0;
  }

  .media-area {
    width:100%;
    padding-bottom: 66%;
    position:relative;
  }

  .media-item {
    width:100%;
    height:100%;
    position:absolute;
    top:0;left:0;
  }

  .file-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.83);
    z-index: 100;
  }

  .file-info {
    margin-left:20px;
  }
  .file-info.error {
    color:red;
    font-style: italic;
  }

  div.dtp-picker-clock {
    margin: 0px 0px 0 -15px;
    padding: 0px;
    border-radius: 50%!important;
    background: #eee;
  }

  video {
    max-width: 480px;
  }
}
