#userlist-page {
  div.header {
    height: 100px;
    min-height: 100px;
    max-height: 200px;
    padding: 24px;
    background-image: url("/assets/images/backgrounds/header-bg.png");
    background-size: cover;
  }

  .table-row {
    /*cursor: pointer;*/
  }
  .table-row:hover {
    background: #f7f7f7;
  }
  md-radio-group md-radio-button { margin: 5px 0; }
  md-radio-button {float:left;padding-right:10px;}

  .searchText {
    padding:20px 10px 10px 20px;
    position:relative;
    height:75px;
  }

  div.thumb-cover {
    width: 80px;
    height: 80px;
    margin:6px 0;
    overflow: hidden;
    display: inline-block;
    text-align: center;

    .thumb {
      max-width: 80px;
      max-height: 80px;
    }
  }

  div.mark-deleted {
    background: red;
    color:white;
    font-size:10px;
    padding:2px 3px;
    float: left;
    margin:0 3px;
  }

  div.mark-disabled {
    background: orange;
    color:white;
    font-size:10px;
    padding:2px 3px;
    float: left;
    margin:0 3px;
  }
}

