<style>
  md-input-container {
    margin: 8px 0;
  }
</style>
<md-dialog aria-label="User Info"  ng-cloak style="width:800px;">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add User</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" style="padding:0">
        <div class="form-wrapper md-whiteframe-1dp">

          <form name="userForm" class="md-inline-form" novalidate>
            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <input type="text" name="firstname" ng-model="user.firstName" placeholder="First Name">
              </md-input-container>

              <md-input-container flex>
                <input type="text" name="lastname" ng-model="user.lastName" placeholder="Last Name">
              </md-input-container>
            </div>

            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <input type="text" name="username" ng-model="user.username" placeholder="Username" required ng-change="userNameCheck()">
                <div ng-messages="userForm.username.$error" role="alert">
                  <div ng-message="required"><span>Username field is required.</span></div>
                  <div ng-message="namecheck"><span>This username is used already</span></div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <input type="email" name="email" ng-model="user.email" placeholder="Email" required>
                <div ng-messages="userForm.email.$error" role="alert">
                  <div ng-message="required"><span>Email field is required.</span></div>
                  <div ng-message="email"><span>Email field is not valid.</span></div>
                </div>
              </md-input-container>
            </div>

            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <input type="password" name="password" ng-model="user.password" placeholder="Password" required>
                <div ng-messages="userForm.password.$error" role="alert">
                  <div ng-message="required"><span>Password field is required.</span></div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <input type="password" name="passwordConfirm" placeholder="Confirm Password" ng-model="user.passwordConfirm" required compare-to="user.password">
                <div ng-messages="userForm.passwordConfirm.$error" role="alert">
                  <div ng-message="required"><span>Password field is required.</span></div>
                  <div ng-message="compare-to"><span>Password doesn't match</span></div>
                </div>
              </md-input-container>
            </div>

            <div layout="column" layout-gt-xs="row">
              <md-input-container  class="md-block" flex>
                <label>Phone Number</label>
                <input type="text" name="phoneNumber" ng-model="user.phoneNumber" > <!--ng-pattern="/^\+?\d{2,5}[- ]?\d{2,5}[- ]?\d{2,5}$/"-->
                <!--<div ng-messages="user.phoneNumber.$error" role="alert">
                  <div ng-message="pattern">
                    <span>Phone Number must be valid</span>
                  </div>
                </div>-->
              </md-input-container>

              <md-input-container  class="md-block" flex>
                <label>Gender</label>
                <md-select ng-model="user.gender">
                  <md-option ng-repeat="gender in CommonUtil.genders" value="{{gender}}">
                    {{gender}}
                  </md-option>
                </md-select>
              </md-input-container>
              <!--<sm-date-time-picker
                lable="Date of Birth"
                value="dateOfBirth"
                flex
                close-on-select="true"
                format="LL"
                week-start-day="Monday">
              </sm-date-time-picker>-->
             <md-datepicker ng-model="user.dateOfBirth" md-placeholder="Date of Birth" style="margin-top:4px;margin-right:-16px;"></md-datepicker>
            </div>

            <div layout="column" layout-gt-xs="row">
              <md-input-container flex>
                <label>Address1</label>
                <input type="text" name="address1" ng-model="user.address1">
              </md-input-container>
              <md-input-container flex>
                <label>Address2</label>
                <input type="text" name="address2" ng-model="user.address2">
              </md-input-container>
            </div>

            <div layout="column" layout-gt-xs="row">
              <md-input-container flex>
                <label>City</label>
                <input type="text" name="city" ng-model="user.city">
              </md-input-container>
              <md-input-container flex>
                <label>State</label>
                <input type="text" name="state" ng-model="user.state">
              </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row">
              <md-input-container flex="40">
                <label>Postal Code</label>
                <input name="postalcode" ng-model="user.postalCode" > <!--ng-pattern="/^[0-9]{4,8}$/"-->
              </md-input-container>
              <md-input-container flex="60">
                <label>Country</label>
                <md-select ng-model="user.country">
                  <md-option ng-repeat="country in CommonUtil.AllCountries" value="{{country.code}}">
                    {{country.name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </form>

        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-disabled="userForm.$invalid || userForm.$pristine" ng-click="SaveUser()">
        OK
      </md-button>
    </md-dialog-actions>
</md-dialog>
